# Ignore todas as atividades da subpasta ex02 .. ex..
ex03/
ex04/

# Ignore todos os testes ou outputs das subpastas de exercicios
**/testes/
**/output/

# Ignore todos os criterios de notas em cadas subpasta
**/criterio_notas.txt

# Ignore os arquivos .exe
*.exe