# Ignore todas as atividades da subpasta ex02 .. ex..
ex02/

# Ignore todos os testes das subpastas de exercicios
**/testes/

# Ignore todos os criterios de notas em cadas subpasta
**/criterio_notas.txt

# Ignore os arquivos .exe
*.exe